# -----------------------------------------------------------------------------
# Operating System Files (Windows)
# -----------------------------------------------------------------------------
Thumbs.db
Desktop.ini

# -----------------------------------------------------------------------------
# Python Environment & Build Files
# -----------------------------------------------------------------------------
# Virtual environment directory
venv/
.venv/
env/

# Byte-compiled files
*.pyc
__pycache__/

# Distribution and packaging
dist/
build/
*.egg-info/

# -----------------------------------------------------------------------------
# IDE/PyCharm Specific Files
# -----------------------------------------------------------------------------
# PyCharm project files (main folder)
.idea/

# IPython/Jupyter Notebook history
.ipynb_checkpoints

# -----------------------------------------------------------------------------
# Sensitive Files (MUST BE IGNORED)
# -----------------------------------------------------------------------------
# Environment variables
.env
.flaskenv
*.key

# -----------------------------------------------------------------------------
# Test Files
# -----------------------------------------------------------------------------
test.py